@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

<p>Use this page to detail your site's privacy policy.</p>
<select id="StudentDropDown" data="@ViewData["conventions"]">
</select>

<script>
    $(document).ready(function (e) {
        $.getJSON("https://localhost:44398/conventions", function (data) {
            $.each(data, function (index, value) {
                $("#SelectedMakeId").append("<option value=" + value.Id + ">" + value.Name + "</option>");
            });
        });
    });
</script>